@using installments_Payment.Core.ViewModels
@using installments_Payment.Core.ViewModels.Treatment
@model TreatmentTypeCreateEditViewModel
@{
    ViewData["Title"] = "افزودن نوع درمان جدید";
}

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-groupm mb-3">
                    <label asp-for="TreatmentTypeName" class="control-label"></label>
                    <input asp-for="TreatmentTypeName" class="form-control" />
                    <span asp-validation-for="TreatmentTypeName" class="text-danger"></span>
                </div>
                <hr />
                <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="bg-gradient-to-r from-green-primary to-green-dark text-white px-4 py-2 rounded-full font-medium hover:opacity-90 transitionn">ثبت</button>
                    <a asp-action="Index" class="btn-gradient-gray ms-0 mx-1">بازگشت</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
