@model installments_Payment.DataAccessLayer.Entities.Treatments.Treatment

@{
    ViewData["Title"] = "جزئیات نام درمان";
}

<div class="container">
    <div class="card shadow-sm border-0 p-2">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>نام درمان</th>

                        <td>@Model.TreatmentName</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="p-2" />
        <div class="d-flex justify-content-end mx-1">
            <a asp-action="Edit" asp-route-id="@Model?.TreatmentId" class="btn-gradient-yellow text-dark mx-1">ویرایش</a>
            <a asp-action="Index" class="btn-gradient-gray">بازگشت</a>
        </div>
    </div>
</div>
