@using installments_Payment.Core.ViewModels.Treatment
@model TreatmentCreateEditViewModel

@{
    ViewData["Title"] = "ویرایش نام درمان";
}

<div class="container">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TreatmentId" />
                <div class="form-group mb-3">
                    <label asp-for="TreatmentName" class="control-label"></label>
                    <input asp-for="TreatmentName" class="form-control" />
                    <span asp-validation-for="TreatmentName" class="text-danger"></span>
                </div>
                <hr />
                <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="btn-gradient-yellow text-dark mx-1">ذخیره</button>
                    <a asp-action="Index" class="btn-gradient-gray">بازگشت</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
